{% extends "layout.html" %}

{% block title %} Página Inicial {% endblock %}

{% block content %}

<div class="row text-center p-5">
    <div class="col-12">
        <h1>Home</h1>
    </div>
</div>


<div class="jumbotron">
  <h1 class="display-4">Crud realizado em Python!</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>Tecnologias usadas: Python, Bootstrap, CSS, Javascript, jQuery, jQuery Mask, Framework Flask .</p>
  <a class="btn btn-primary btn-lg" href="https://github.com/yurihartmann/python.git" role="button">GitHub</a>
</div>


{% endblock %}