{% extends "layout.html" %}

{% block title %} Dados Trabalhador {% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 p-3">
        <a href="/trabalhador">
            <button class="btn btn-secondary">Voltar</button>
        </a>
    </div>
</div>

<div class="row text-center p-5">
    <div class="col-12">
        <h1>Dados Trabalhador</h1>
    </div>
</div>


<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <form action="/trabalhador" method="post">

            <input type="hidden" name="id_pessoa" value="{{ trabalhador.get_id_pessoa() }}">
            <input type="hidden" name="id_trabalhador" value="{{ trabalhador.get_id() }}">

            <div class="form-group">
                <label for="nome_trabalhador">Nome do Trabalhador:</label>
                <input type="text" class="form-control"
                       name="nome_trabalhador" id="nome_trabalhador" value="{{ trabalhador.get_nome() }}"
                placeholder="Digite o nome da Trabalhador" required>
            </div>
            <div class="form-group">
                <label for="idade">Idade:</label>
                <input type="text" class="form-control"
                       name="idade" maxlength="3" id="idade" value="{{ trabalhador.get_idade() }}"
                placeholder="Digite a idade" required>
            </div>
            <div class="form-group">
                <label for="cargo">Cargo:</label>
                <input type="text" class="form-control"
                       name="cargo" id="cargo" value="{{ trabalhador.get_cargo() }}"
                placeholder="Digite o nome do cargo" required>
            </div>

            <div class="form-group">
                <label for="salario">Salário:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">R$</div>
                    </div>
                <input type="text" class="form-control"
                       name="salario" id="salario" value="{{ trabalhador.get_salario() }}{{ '0' }}"
                placeholder="Digite o valor do salario" required>
            </div>

            <button type="submit" class="btn btn-success mt-3">Salvar</button>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  $('#salario').mask('000.000.000.000.000,00', {reverse: true});
</script>
{% endblock %}
