{% extends "layout.html" %}

{% block title %} Trabalhadores {% endblock %}

{% block content %}
<div class="row text-center p-5">
    <div class="col-12">
        <h1>Trabalhadores</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 p-3">
        <a href="/trabalhador/novo">
            <button class="btn btn-primary">Adicionar novo trabalhador</button>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Idade</th>
              <th scope="col">Cargo</th>
              <th scope="col">Salário</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          {% for t in trabalhadores: %}
            <tr>
              <th scope="row">{{ t.get_id() }}</th>
              <td>{{ t.get_nome() }}</td>
              <td>{{ t.get_idade() }}</td>
              <td>{{ t.get_cargo() }}</td>
              <td>R$ {{ t.get_salario_formatado() }}</td>
              <td><a href="/trabalhador/{{ t.get_id() }}"><button class="btn btn-secondary btn-sm">Editar</button></a></td>
                <td><a href="/trabalhador/delete/{{ t.get_id_pessoa() }}/{{ t.get_id() }}"><button class="btn btn-danger btn-sm">Excluir</button></a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
</div>
{% endblock %}